*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.burner{
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.intro-par{
  font-size: 0.8rem;
}

.portfolio-txt{
  color: rgb(255, 255, 255);
  border: 3px solid #ffffff;
  display: none;
  z-index: 1;
  text-shadow: 0px 0px 2px 2px #fff;
}

textarea{
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
input{
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

::placeholder{
  color: #fff;
}

button{
  width: 100%;
}
#design, #development, #p-management{
  display: none;
}
#design-img, #dev-img, #prod-mgt-img{
  cursor: pointer;
}
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(156, 29, 231, 0.5);
  display: none;
}

#mouse{
  position: relative;
  animation: move 1.5s steps(10, end) alternate infinite;
}

#mouse img{
  cursor: pointer;
}

@keyframes move{
  0%{bottom: 0; opacity: 1;}
  50%{opacity: 0.5;}
  100%{bottom: 50px; opacity: 1;}
}

#logo-img{
  animation: blink 3s alternate ease-in-out infinite;
}

@keyframes blink{
  from{opacity: 0;}
  to{opacity: 1;}
}