*{
  box-sizing: border-box;
}

.burner{
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.intro-par{
  font-size: 0.8rem;
}

.portfolio-txt{
  border: 3px solid white;
  display: none;
}

textarea{
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
input{
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

::placeholder{
  color: #fff;
}

button{
  width: 100%;
}
#design, #development, #p-management{
  display: none;
}