*{
  box-sizing: border-box;
}

.burner{
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.intro-par{
  font-size: 0.8rem;
}

.portfolio-txt{
  color: rgb(255, 255, 255);
  border: 3px solid #ffffff;
  display: none;
  z-index: 1;
  text-shadow: 0px 0px 2px 2px #fff;
}

textarea{
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
input{
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

::placeholder{
  color: #fff;
}

button{
  width: 100%;
}
#design, #development, #p-management{
  display: none;
}
#design-img, #dev-img, #prod-mgt-img{
  cursor: pointer;
}
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(156, 29, 231, 0.5);
  display: none;
}